.card {
  background-color: #fffefe;
  padding: 48px;
  box-sizing: border-box;
  box-shadow: map-get($box-shadow, 'card');
  border-radius: 5px;
  border: 1px solid map-get($border-color, 'card');

  &-table {
    display: flex;

    &-row {
      display: flex;
      flex-direction: row;
    }
  }
}
