.table {
  font-weight: map-get($font-weight, 'light');

  thead tr {
    background-color: $white;
  }
  th {
    font-weight: inherit;
    background-color: none;
    border: none !important;
  }

  tr {
    background-color: map-get($tr-color, 'odd');

    &:nth-child(even) {
      background-color: map-get($tr-color, 'even');
    }
  }

  td {
    border: 1px solid $white;
  }
}
