// Fonts
// @import

// Body
$body-bg: #e5e5e5;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size: (
  small: 12px,
  base: 16px,
  select: 20px,
  big: 24px,
  title: 28px,
);
$line-height-base: 1.6;

// FONT-WEIGHTS
$font-weight: (
  light: 300,
  regular: 400,
  normal: 500,
  bold: 700,
);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #f45959;
$orange: #f39c12;
$yellow: #fff9c3;
$green: #20e47b;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$text-color: #444444;
$border-color: (
  card: #8a8a8a,
  form: #a2a0a0,
);
$tr-color: (
  even: #e9edf4,
  odd: #f7f7f8,
);
$btn-bg: #eeeeee;
$btn-border: #cccccc;

// Alpha Colors
$box-shadow: (
  button: 0px 1px 4px rgba(0, 0, 0, 0.25),
  card: 0px 3px 14px rgba(0, 0, 0, 0.08),
  modal: (
    0px 15px 12px rgba(0, 0, 0, 0.22),
    0px 19px 38px rgba(0, 0, 0, 0.3),
  ),
);

// Mixins
@mixin icon-name($icon) {
  mask-image: url('../icons/' + $icon + '.svg');
}

@mixin bg-color-with-dark-hover($color, $amount: 5%) {
  background-color: $color;

  &:hover {
    background-color: darken($color, $amount);
  }
}
