// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// Custom
@import 'cards';
@import 'table';
@import 'select';
@import 'buttons';

body {
  width: 100vw;
  height: 100vh;
  background-color: $body-bg;
  color: $text-color;
}

.title {
  font-size: map-get($font-size, 'title');

  &-wrapper {
    border-bottom: 1px solid $text-color;
  }
}
