// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Variables
@import "variables";

@import "buttons";

body {
  width: 100vw;
  height: 100vh;
  background-color: $body-bg;
  color: $text-color;
}
